@model RoleWiseMenuPermissionWeb.ViewModels.RoleViewModel
@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Role</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("CreateRole", "UsersHome", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group pt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
